/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
#navbar2{
  overflow: hidden;
  padding: 0;
  width: 100%;
}
#navbar2 a {
  float: left;
  left: 32.55%;
  padding: 14px 16px;
}
#navbar1{
  position: absolute;
  top:3px;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
#navbar1 a {
  float: left;
  padding: 6px 12px;
}
#l1:hover {
  background-color:#4668b3;
  transition:.5s ease;
}
#l2:hover {
  background-color:#de5745;
  transition:.5s ease;
}
#l3:hover {
  background-color:#2fbbed;
  transition:.5s ease;
}
#l4:hover {
  background-color:#d94348;
  transition:.5s ease;
}
#l5:hover {
  background-color:#3079ff;
  transition:.5s ease;
}
#l6:hover {
  background-color:#eb6397;
  transition:.5s ease;
}
li {
  float: left;
}
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color:#f5f7fb;
}
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0; 
}

.dropdown:hover .dropbtn {
    background-color: #f5f7fa;
}


.dropdown-content {
  margin-left: 19.5%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 57.5%;
  height:300px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.line {
  color: #29b796;
  line-height: 1;
  margin-bottom: 5px;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 20%;
  background-color: #f5f7fa;
  height: 300px;
  padding: 2.5%;
}
.column1 {
  position: absolute;
  float: left;
  width: 15%;
  margin-top: 75px;
}
.column1 h3{
  color:white;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#link {
  color: #a3b1bf;
  text-decoration: none;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
}
#link:hover{
  color: #00b596;
}
#link:hover #movepic{
  padding-left: 10px;
  transition:.5s ease;
}
h3 {
  text-align: left;
  color: #657a91;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


.column a:hover {
  background-color: #ddd;
  transition:.5s ease;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.hover {
  position: relative;
  float: left;
  cursor: pointer;
}
.hover:hover:before {
  background:#20ad95;
  opacity: 60%;
}
.hover:hover .text{
  display: block;
  font-size: 30px;
  font-weight: 900;
}
.hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:none;
  transition:.5s ease;
}
.text {
  display: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.button1 ,.button2{
  border: none;
  border-radius: 5px;
  width: 118px;
  height: 47px;
  color: white;
  background-color: #00bc9c;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#main {
  width: 100%;
  height: 880px;
  background-color: #506a85;
}
#navbar3 {
  position: absolute;
  margin-left: 61.51%;
  padding-top: 30px;
}
#navbar3 a,p{
  text-decoration: none;
  color: #5e6c7a;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}
#a1:hover {
  color: #00bc9c ;
}
#a2:hover {
  color: #00bc9c ;
}
#a3:hover {
  color: #00bc9c ;
}
#a4:hover {
  color: #00bc9c ;
}
#a5:hover {
  color: #00bc9c ;
}
#a6:hover {
  color: #00bc9c ;
}
#navbar3 p {
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.button3 {
  margin:0px;
  margin-top: 30px;
  margin-left: 96.82%;
  border-radius: 3px;
  border: none;
  background-color:#3c5065;
  position: absolute;
}
.button3 a {
  color: #949ba2;
  text-decoration: none;
}
.button3:hover{
  background-color: #506a85;
 }
.button3:hover a{
 background-color: #506a85;
 color: #00bc9c ;
}

#input{
  margin-top:20px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#4e5c6c;
  border: none;height: 30px;
  color: #9eacba;border-radius: 3px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}
#input:hover {
  background-color:#596675;
}
#input1 {
  background-color: #00bc9c ;
  border: none;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 5px;
  margin-left: 130px;
  border-radius: 4px;
  padding: 6px 6px 6px 6px;
}